// auth
#login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#login .login_box {
  display: block;
  max-width: 100%;
  width: 20%;
}

#login .login-form {
  max-width: 100%;
}

#login .login-form-button {
  width: 100%;
}

// supervisor
#supervisor .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
